[user]
	name = Martin Trojer
	email = martin.trojer@gmail.com
[push]
	default = simple
[color]
	ui = true
[http]
	sslVerify = false
 	postBuffer = 524288000
[github]
	user = martintrojer
[github "encrypted"]
	oauth-token = U2FsdGVkX1/brDdCscmcyw11kQplKWfvzy84rXaEHXX3vTvkYUvAXeXTho1QjpViweVtqxbT76ymh6/mHIL/6g==
