[user]
	name = Martin Trojer
	email = martin.trojer@gmail.com
[push]
	default = simple
[color]
	ui = true
[http]
	sslVerify = false
 	postBuffer = 524288000
[github]
	user = martintrojer
[github "encrypted"]
	oauth-token = U2FsdGVkX1/grvWc9/uJlXfpc4Zes++sh5i2tZLxBSxER0uh3qd5E4QtUZd1C59t+p1DkZShHmquU6u0bi2yow==
